body {
  background-image: url(../images/Fondo-weather.jpg);
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h4 {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #2d3a4d;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

strong {
  font-weight: 700;
  color: #564205;
}

a {
  color: #564205;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
  text-align: center;
}

.weather-app {
  padding: 15px;
  margin: 20px;
}

.search-box {
  margin: 20px auto;
}

.temperature-container {
  position: relative;
  right: 20px;
}

.temperature {
  color: #564205;
  font-size: 80px;
  font-weight: 500;
  position: relative;
  top: -70px;
  right: -52px;
}

.weather-icon {
  position: relative;
  right: 45px;
  top: 37px;
  margin-right: 38px;
}

.unit {
  color: #564205;
  font-size: 21px;
  font-weight: 400;
  position: relative;
  top: -112px;
  left: 53px;
}

.temperature-container .active {
  color: #2d3a4d;
  cursor: default;
  font-weight: bold;
}

.temperature-container .active:hover {
  text-decoration: none;
}

.ms {
  color: black;
  font-family: monospace;
  padding: 5px;
  background: rgb(255, 255, 255, 0.5);
  border: 3px solid silver;
  border-radius: 10px;
}
